ErrorDocument 403 /O'FUTBOL/view/error.php
ErrorDocument 404 /O'FUTBOL/view/error.php
ErrorDocument 405 /O'FUTBOL/view/error.php
ErrorDocument 408 /O'FUTBOL/view/error.php
ErrorDocument 500 /O'FUTBOL/view/error.php
ErrorDocument 502 /O'FUTBOL/view/error.php
ErrorDocument 504 /O'FUTBOL/view/error.php

RewriteEngine On
RewriteRule ^([^_]*)_([^_]*)\.html$ /O'FUTBOL/?p=$1&a=$2 [L]
RewriteRule ^([^_]*)_([^_]*)_([^_]*)\.html$ /O'FUTBOL/?p=$1&a=$2&id=$3 [L]
RewriteRule ^([^_]*)_([^_]*)_([^_]*)_([^_]*)_([^_]*)\.html$ /O'FUTBOL/?p=$1&a=$2&postid=$3&commentId=$4&vote=$5 [L]
